.copy {
	font-size: 20px;
}

footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.redes-sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.redes-sociales a{ /*iconos*/
	color: #333;
	text-decoration: none;
}

/* Tablet */
@media (min-width:768px){
	.redes-sociales{
		width: auto;
	}
	footer .contenedor{
		justify-content: space-between; /*se va a los extremos*/
	}
}
