#info{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}
#info .contenedor{
	display: flex; /*en linea*/
	flex-wrap: wrap; /*se ubiquen segun pantalla*/
	justify-content: center;
}

.info-pets{
	margin: 20px;
}

.info-pets img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

@media (min-width:480px){
	.info-pets{
		width: 40%;
	}
}

@media (min-width:1024px){
	.info-pets{
		width: auto;
	}
}